@media (max-width: 600px) {


* {
    box-sizing: border-box;
}

section div {
    border: 1px solid;
    padding: 10px;

}

div {
}

.container {
    max-width: 1200px;
    background: pink;
    content: '';
    clear: both;
    display: block;


}

.clear::after {
    content: '';
    clear: both;
    display: block;
}

.block {
    float: left;
}


.w-25 {
    width: 25%;
}

.w-33 {
    width: 33.3333%;

}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.blue {
    background: blue;
}}

